# Data Science Tools and Ecosystem

# In this Notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Describe common Data Science libraries
- Demonstrate arithmetic expression in Python

# Some of the popular languages that Data Scientists use are:
      1. Python      
      2. R
      3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            | 
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [68]:
# This is a simple arithmetic to multiply then add integers.
(3*4)+5

17

In [70]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Barbara Zasowski